<section class="login-container">
  <div class="left">
    <figure class="logo-container">
      <img [src]="getImagePath('mujer.png')" class="logo" alt="Logo de Ninanzas">
    </figure>
    <h1 class="title">NINANZAS</h1>
    <br>
    <h6 class="text-slogan">Tu aplicación de finanzas de confianza!</h6>
  </div>
  <div class="right">
    <form class="login-form" (ngSubmit)="login()">
      <br>
      <div class="inputs-container">
        <input type="email" class="inputs-info" placeholder="E-MAIL" id="email" [(ngModel)]="email" name="email" required>
        <input type="password" class="inputs-info" placeholder="CLAVE" id="password" [(ngModel)]="password" name="password" required>
      </div>
      <nav>
        <button type="submit" class="submit">ENTRAR</button>
      </nav>
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      <div class="text">
        <button type="button" class="forgot-password">Olvido su clave?</button><br>
        <button type="button" class="register-here"><a href="#register" class="register-here-link">Registrese</a></button>
      </div>
      <div class="text">Entre con:</div>
      <figure>
        <button type="button" class="google-button" id="google-button">
          <img [src]="getImagePath('google.png')" class="google-img" alt="Logo de Google">
        </button>
        <button type="button" class="facebook-button" id="facebook-button">
          <img [src]="getImagePath('facebook.png')" class="facebook-img" alt="Logo de Facebook">
        </button>
      </figure>
    </form>
  </div>
</section>


