<div class="dashboard-container">
  <h1 class="dashboard-container-title">Dashboard</h1>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  
  <div class="financial-summary">
    <h2 class="financial-summary-title">Resumen de Finanzas</h2>
    <div class="summary-cards">
      <div class="card">Ingreso Total: {{ totalIncome }}</div>
      <div class="card">Egreso Total: {{ totalExpense }}</div>
      <div class="card">Ahorro Total: {{ totalSavings }}</div>
    </div>
  </div>
  
  <div class="recent-transactions">
    <h2 class="recent-transactions-title">Lista de Últimas Transacciones:</h2>
  </div>
</div>

