<section class="register-container">
    <div class="left">
      <figure class="logo-container">
        <img [src]="getImagePath('hombre.png')" class="logo" alt="Logo de registro en Ninanza">
      </figure>
    </div>
    <div class="right">
      <h1 class="title">Registrarse</h1>
      <form class="register-form" (ngSubmit)="register()">
        <div class="inputs-container">
          <input type="text" class="inputs-info" placeholder="Nombre" [(ngModel)]="firstName" name="firstName" required>
          <input type="text" class="inputs-info" placeholder="Apellido" [(ngModel)]="lastName" name="lastName" required>
          <input type="email" class="inputs-info" placeholder="E-MAIL" [(ngModel)]="email" name="email" required>
          <input type="password" class="inputs-info" placeholder="Crear Clave" [(ngModel)]="password" name="password" required>
          <input type="password" class="inputs-info" placeholder="Confirma Clave" [(ngModel)]="confirmPassword" name="confirmPassword" required>
        </div>
        <nav>
          <button type="submit" class="submit">Registrarse</button>
        </nav>
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      </form>
    </div>
  </section>
  